@font-face {
    font-family: "MyFont";
    src: url("fonts/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
.body {
    min-width: 320px;
    max-width: max-content;
    background-color: #FFFFFF;
    margin: 0;
    font-family: "MyFont", serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.heading {
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: #D9FFF5 solid 1px;
}
.heading__button-1 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: -1;
    margin-left: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__logo {
    width: 96.55px;
    height: 50.81px;
    background-color: #FFFFFF;
    background-image: url("images/Group.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    order: 0;
    margin-right: auto;
    margin-left: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__divider-1 {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    order: 1;
    margin-left: 16px;
    margin-right: 16px;
    flex-shrink: 0;
}
.heading__button-2, .title__button-2 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: 6;
    margin-right: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__button-3, .title__button-3 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: 7;
    margin-right: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__button-4 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: 2;
    margin-right: 16px;
    margin-left: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__button-5 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: 3;
    margin-right: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__button-6 {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    order: 4;
    margin-right: 16px;
    flex-shrink: 0;
    border: none;
}
.heading__divider-2 {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    order: 5;
    margin-right: 16px;
    flex-shrink: 0;
}
.article-1 {
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 24px;
    overflow: hidden;
}
.title {
    display: flex;
    justify-content: flex-start;
    min-width: 304px;
    height: 40px;
    display: flex;
    align-items: center;
}
.title__svg {
    align-self: first baseline;
    order: -1;
}
.title__h1 {
    margin-left: 16px;
    font-family: "MyFont", serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 40px;
    order: 0;
    color: #1B1C21;
}
.title__p-1 {
    font-family: "MyFont", serif;
    order: 1;
    margin-left: auto;
    font-size: 16px;
    color: #1B1C21;
}
.title__button-2 {
    margin-left: 8px;
    order: 2;
 }
.title__p-2 {
    font-family: "MyFont", serif;
    order: 3;
    margin-left: 32px;
    font-size: 16px;
    color: #1B1C21;
}
.title__button-3 {
    margin-left: 9px;
    order: 4;
}
.nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-left: 16px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: #F8F8F8;
    letter-spacing: -0.2px;
    line-height: 24px;
}
.nav__button-1_checked {
    border: #B8FFEC 2px solid;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-left: 23px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "MyFont", serif;
    font-size: 16px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-2_checked {
    border: #B8FFEC 2px solid;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "MyFont", serif;
    font-size: 16px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-3 {
    background-color: #F8F8F8;
    border: none;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "MyFont", serif;
    font-size: 16px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-4 {
    background-color: #F8F8F8;
    border: none;
    flex-shrink: 0;
    font-family: "MyFont", serif;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-5 {
    background-color: #F8F8F8;
    border: none;
    flex-shrink: 0;
    font-family: "MyFont", serif;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-6 {
    background-color: #F8F8F8;
    border: none;
    flex-shrink: 0;
    font-family: "MyFont", serif;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-shrink: 0;
    color: #7E7E82;
}
.nav__button-7 {
    background-color: #F8F8F8;
    border: none;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "MyFont", serif;
    font-size: 16px;
    flex-shrink: 0;
    color: #7E7E82;
}
.article-2 {
    display: flex;
    min-width: 320px;
    min-height: 176px;
    margin-top: 24px;
    margin-bottom: 35px;
    flex-direction: column;
}
.section {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 18px;
    overflow: hidden;
}
.section__p-1 {
    margin-top: 0;
    color: #1B1C21;
}
.section__p-2 {
    margin-top: 0;
    color: #1B1C21;
}
.text__button {
    width: 132px;
    height: 24px;
    background-image: url("images/expand.svg");
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    font-family: "MyFont", serif;
    font-size: 16px;
    background-color: #F8F8F8;
    border: none;
    flex-shrink: 0;
    padding-left: 24px;
    margin-left: 16px;
    margin-bottom: 16px;
    white-space: nowrap;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.article-2__img {
    width: 100%;
    height: 176px;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-size: cover;
    margin-bottom: 35px;
}
@media (max-width: 320px) {
    .heading__button-4, 
    .heading__button-5, 
    .heading__button-6, 
    .heading__divider-2, 
    .nav__button-1_checked,
    .title__p-1,
    .title__p-2,
    .title__button-2,
    .title__button-3, 
    .section__p-2 {
        display: none;
    }
}
@media (min-width: 321px) and (max-width: 768px) {
    .heading {
        margin-right: 16px;
    }
    .heading_logo {
        order: 1;
    }
    .heading__divider-1 {
        order: 0;
    }
    .heading__p-1, 
    .heading__p-2, 
    .nav__button-1_checked, 
    .nav__button-5,  
    .nav__button-7,
    .title__p-1,
    .title__p-2,
    .title__button-2,
    .title__button-3 {
        display: none;
    }
    .title__h1 {
        margin-left: 24px;
    }
    .nav {
        margin-top: 32px;
        margin-left: 24px;
    }
    .article-2 {
        min-height: 208px;
        flex-direction: row;
        margin-bottom: 40px;
        margin-top: 32px;
        justify-content: space-between;
        align-items: flex-start;
    }
    .text__button {
        margin-left: 25px;
        margin-bottom: 14px;
    }
    .text {
        max-width: 50%;
    }
    .section {
        max-height: 160px;
        margin-left: 24px;
        margin-bottom: 10px;
        margin-right: 48px;
    }
    .article-2__img {
        max-width: 50%;
        height: 208px;
        margin-right: 25px;
        margin-bottom: 40px;
    }
}
@media (min-width: 769px) {
    .heading, 
    .nav__button-3 {
        display: none;
    }
    .article {
        padding-top: 42px;
    }
    .title {
        margin-top: 42px;
        margin-right: 25px;
        margin-left: 1px;
    }
    .title__h1 {
        margin-left: 32px;
    }
    .nav {
        height: 82px;
        margin-top: 8px;
        margin-left: 32px;
        flex-wrap: wrap;
    }
    .nav__button-2_checked {
        background-color: #F8F8F8;
        border: none;
        padding-left: 19px;
        padding-right: 15px;
    }
    .text {
        max-width: 50%;
    }
    .section {
        max-height: 160px;
        margin-left: 34px;
        margin-right: 36px;
        margin-top: 16px;
        margin-bottom: 14px;
    }
    .article-2 {
        min-height: 307px;
        flex-direction: row;
        margin-bottom: 49px;
        align-items: flex-start;
    }
    .text__button {
        margin-left: 32px;
        margin-bottom: 100px;
        position: 50% 50%;
    }
    .article-2__img {
        max-width: 50%;
        height: 307px;
        margin-top: 7px;
        margin-right: 28px;
        margin-bottom: 49px;
    }
    }